* {
  margin: 0;
}

body {
  background-color: #fff;
}

/* 外上边距 */
.mt {
  margin-top: 20px;
}

/* 外下边距 */
.mb {
  margin-bottom: 20px;
}

/* 外左边距 */
.ml {
  margin-left: 20px;
}

/* 外右边距 */
.mr {
  margin-right: 20px;
}

/* 按钮图标距左边距 */
.bml {
  margin-left: 5px;
}

/* 按钮图标距右边距 */
.bmr {
  margin-right: 5px;
}

/* 分页下拉选择框 */
.pSelect .el-select__wrapper {
  width: 100px !important;
  min-width: 50px !important;
}

.el-pagination .el-select {
  width: 100px !important;
}

/* 表格表头居中 */
.headerTable {
  text-align: center !important;
  font-size: 16px !important;
}

/* 左内边距 */
.pl {
  padding-left: 1%;
  box-sizing: border-box;
}
/* 左内边距 */
.pr {
  padding-right: 1%;
  box-sizing: border-box;
}

/* 圆角 */
.bRadius {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.familyFont {
  font-family: "Microsoft YaHei";
}

/* 标题 */
.hTitle {
  font-size: 18px;
  font-family: "Microsoft Yahei";
  color: #000;
  font-weight: 700;
}

.pCss {
  font-size: 16px;
  font-family: "Microsoft Yahei";
  color: rgba(29, 33, 41, 0.7);
}
.mtForm {
  margin-top: 10px;
}

/* 按钮（查询、重置居中） */
.bfCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.calcTable {
  width: 100%;
  height: calc(100% - 50px);
}

/* 区域阴影/背景 （白色背景）*/
.cardShadow {
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
  /* box-shadow: 0px 4px 4px rgba(164, 174, 183, 0.25), 12px 12px 16px rgba(164, 174, 183, 0.15); */
}

.dialog-horizontal-line{
  width: calc(100% + 40px);
  height: 1px;
  margin: 20px 0 20px -20px;
  background-color: rgba(201, 201, 201, 1) !important;
}

.dialog-btn-class{
  width: 100%;
  display: flex;
  justify-content: center;
}